*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    position: relative;
}
.logo-img{
    height: 90px;
    width: auto;
    border-radius: 50%;
}
.menu-icon{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.nav-links{
    display: flex;
}
.title{
    color: white;
    margin-left: 30px;
}
.title:hover{
    color: rgb(224, 196, 71);
    transition: color 0.3s ease;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
nav a:hover{
    color: rgb(224, 196, 71);
    transition: color 0.3s ease;
}
section{
    margin: 40px auto;
    text-align: center;
    max-width: 800px;
    text-align: justify;
    font-size: 20px; 
}
footer {
  bottom: 0;
  background: #222;
  color: white;
  text-align: center;
  padding: 25px;
}
@media (max-width: 768px){
header{
  justify-content: center;
    }
.logo-img{
  position: absolute;
  left: 20px;
  height: 70px;
    }
.menu-icon{
    display: block;
    position: absolute;
    right: 20px;
}
.nav-links{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: black;
    width: 100%;
    text-align: center;
}
.nav-links a{
    padding: 15px 0;
    border-top: 1px solid #333;
}
section{
  padding: 0 15px;
  font-size: 18px;
    }

}


