*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
img{
    height: 90px;
    width: auto;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.title{
    color: white;
    margin-left: 30px;
}
.title:hover{
    color: rgb(224, 196, 71);
    transition: color 0.3s ease;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
nav :hover{
    color: rgb(224, 196, 71);
    transition: color 0.3s ease;
}
section{
    margin: 40px auto;
    text-align: center;
    max-width: 800px;
    text-align: justify;
    font-size: 20px; 
}
footer {
  bottom: 0;
  background: #222;
  color: white;

  text-align: center;
  padding: 25px;
}
@media (max-width: 768px){
header{
  flex-direction: column;
  align-items: center;
    }
nav{
  margin-top: 15px;
  flex-direction: column;
    }

nav a{
  margin: 8px 0;
    }
img{
  height: 70px;
    }

section{
  padding: 0 15px;
  font-size: 18px;
    }

}



